/* General */
body {
    background-color: #ccccdc20;
}

.fixed {
    position: fixed;
    width: 100%;
}

.font-wine {
    color: darkred;
}

.logo {
    width: 5rem;
}

/* Header */
.font-header {
    text-transform: uppercase;
    color: darkred !important;
    font-weight: bold;
}

.font-header:hover {
    text-decoration: underline;
    cursor: pointer;
}

.contact {
    background: linear-gradient(blueviolet, rgb(189, 43, 226));
}
/* Footer */

.localization-map {
    width: 100%;
}

.btn-facebook {
    background-color: blue;
}

.btn-whatsapp {
    background-color: green;
}

.btn-instagram {
    background: linear-gradient(-160deg, blue, #c00010, rgb(223, 223, 23))!important;
    border: none;
}

.btn-twitter {
    background-color: #20a0ff;
}

/* Medias Querys */
@media screen and (max-width:540px) {
    .p-xs {
        padding: 0rem !important;
    }
}

@media screen and (max-width:767px) {
    .list-link {
        padding-bottom: 1rem;
    }
}
