.logo {
    width: 5rem;
}

.font-header {
    text-transform: uppercase;
    color: darkred !important;
    font-weight: bold;
}

.font-wine {
    color: darkred;
}

.presentation {
    background-image: url(../img/banner-supermercado.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.title {
    text-transform: uppercase;
}

.category-table {
    width: 25%;
}

.font-header:hover {
    text-decoration: underline;
}

.call {
    background: url(../img/banner-pessoaAoCelular.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

.btn-call {
    background-color: darkred !important;
    border: 1px solid darkred !important;
}

@media screen and (max-width:540px) {
    .p-xs {
        padding: 0rem !important;
    }
}